<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class=""></span>RA's</h1>

    <!-- show any messages that come back with authentication -->
    <% if (this.message && message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% }else{ %>
    <table class="table table-hover">
        <caption>Estas son tus realidades aumentadas.</caption>
        <thead>
            <tr>
                <th>#</th>
                <th>Tipo</th>
                <th>Patron</th>
                <th>RA</th>
            </tr>
        </thead>
        <tbody>
        <% for(var i=0; i<ras.length; i++) {%>
            <tr>
                <th scope="row"><%=i%></th>
                    <td><%=ras[i].tipo%></td>
                    <td>
                        <img src="/images/patron/<%=ras[i].patron%>.jpg" style="width: 200px;">
                    </td>
                    <td>
                        <% if(ras[i].tipo == "img"){ %>
                            <img src="/images/<%=ras[i].tipo%>/<%=ras[i].ruta%>.jpg" style="width: 200px;">
                        <% }else if(ras[i].tipo == "video"){ %>
                            <iframe width="200" height="112.5" src="https://www.youtube.com/embed/<%=ras[i].ruta%>"></iframe>
                        <% }else if(ras[i].tipo == "3d"){ %>
                            <%=ras[i].ruta%>
                        <% } %>
                    </td>
                </tr>
            
            </tr>
        <% } %>
        </tbody>
    </table>
    <% } %>
    
    <a href="/ra/add/">Add RA</a>
</div>

</div>

</body>